html {
    height: 200vh;
}
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
/*SIDEBAR SECTION */
#s1 {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background: skyblue;
}
#s1 ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
#s1 li {
    padding: 20px;
    font-weight: 300;
    font-size: 20px;
}
.home {
    background: deepskyblue;
}
#s1 li:hover {
    background: #555;
    padding: 20px;
}
#s1 a {
    color: white;
    text-decoration: none;
}
/*RIGHT SECTION */
#s2 {
    height: 100vh;
    margin-left: 300px;
    padding: 10px 20px;
}
/* RESPONSIVE WINDOW */
@media screen and (max-width: 700px) {
    #s1 {
        width: 100%;
        height: inherit;
   }
    #s1 li {
        width: 80px;
        float: left;
   }
    #s2 {
        margin-left: 0;
   }
}
@media screen and (max-width: 500px) {
    #s1 {
        position: relative;
   }
    #s1 li {
        text-align: center;
        float: none;
        width: auto;
        padding: 5;
   }
}
 